
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }
  
  
  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }

@mixin size($width, $height) {
    width: $width;
    height: $height;
  }
  
  @mixin button-1{
    background: #FDCD45;
    padding: 10px 40px 10px 40px;
    border: navajowhite;
    color: #fff;
  }

  @mixin button-2{
    background: #fff;
    color: #000;
    border: 2px solid #FDCD45;
    width: 50%;
  }