  // mixin for button

  @mixin button-1{
    background: #96BEDC;
    padding: 20px 40px 20px 40px;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
  }

  @mixin button-2{
    background: #96BEDC;
    padding: 20px 40px 20px 40px;
    border: none;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
  }