// background-colors

$bg-color: #4B4A47;
$bg-naveyblue: #97BFDC;
$bg-grey:#A8A8A8;

// font-size
$font-size:38px;
$icon-heading:19px;
$logo-title:75px;

// font-weight
$font-weight:800;

// font colors
$naveyblue-color: #96BEDC;
$black-color: #4B4A49;
$white-color: #fff;
