@media (max-width: 575px){
    p.content-text {
        padding: 0px !important;
        color: #5f5656;
    }
    .content.text-center {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    section.content-wrapper {
        margin-top: 0px !important;
    }
    .inner-wrapper.text-center {
        margin:6px !important;
    }
    .portfolio-heading {
        font-size: 35px !important;
        line-height: 45px !important;
       
    } 
    p.portfolio-text {
        font-size: 15px !important;
    }
    button.quote {
        width: auto;
    }
    img.img-fluid.image-portfolio {
        height: auto !important;
        width: auto !important;
    }
    .review.text-center {
        padding:0px !important;
    }                                                                                        
    .stara {
        width: auto;
    }
    .details {
        padding: 1px !important;
    }
}